html, body, #root {
    height: 100%;
    width: 100%;
    justify-items: center;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

html {
    background-color:rgb(29, 29, 29);
}

.app {
    display: flex;
    height: 100%;
    width: 100%;
}

#header {
    color:rgb(249, 237, 222);
}

#main-left {
    height: 100%;
    width: 50%;
    justify-items: center;
}

#controls {
    width: 30%;
    height: 80%;
    padding: 1rem 2rem;
    /* border-style: dashed; */
}

.control-button {
    color: black;
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    margin: 6px 0px;
}

#map {
    height: 100%;
    width: 100%;
}

textarea {
    font-family: Arial;
}

.autofill-item {
    list-style: none;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(199, 199, 199);
}
.autofill-item:hover {
    background-color:rgb(200, 255, 202);
}

.country-list {
    position: absolute;
    padding-inline-start: 0%;
}