html, body, #root {
    height: 100%;
    width: 100%;
    justify-items: center;
    overflow: hidden;
}

body {
    background-color:rgb(29, 29, 29);
}

.app {
    height: 90%;
    width: 95%;
    justify-items: center;
}

#header {
    color:rgb(249, 237, 222);
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
}

#controls {
    width: 10%;
    height: 80%;
    padding: 1rem 2rem;
    border-style: dashed;
}

.control-button {
    color: black;
    border-radius: 8px;
    width: 90%;
    padding: 8px;
    margin: 6px 0px;
}

#map {
    height: 90%;
    width: 80%;
}

textarea {
    font-family: Arial;
}