html, body, #root {
    height: 100%;
    width: 100%;
    justify-items: center;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

html {
    background-color:rgb(29, 29, 29);
}

.app {
    display: flex;
    height: 100%;
    width: 100%;
}

#header {
    color:rgb(249, 237, 222);
}

h2 {
    padding: 0;
    margin: 4px 10px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}


#main-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#controls {
    width: 30%;
    /* border-style: dashed; */
}

.trip-list {
    width: 95%;
    flex: 1;
    overflow: auto;
    border-style: dashed;
    background-color: antiquewhite;
}

.trip-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.trip-display {
    width: 95%;
    flex: 1;
    background-color: aquamarine;
    border-style: dashed;
}

.trip-display-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.trip-items {
    overflow-y: auto;
    margin: 0;
    padding: 5px 10px;
}

.trip-items li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.trip-items li {
    list-style: none;
}

.control-button {
    color: black;
    border-radius: 8px;
    width: 100%;
    padding: 8px;
}

#map {
    height: 100%;
    width: 100%;
}

textarea {
    font-family: Arial;
}

.autofill-item {
    list-style: none;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(199, 199, 199);
}
.autofill-item:hover {
    background-color:rgb(200, 255, 202);
}

.country-list {
    position: absolute;
    padding-inline-start: 0%;
    margin: 0;
    overflow-y: auto;
    height: 200px;
    overflow-x: hidden;
}

.login-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    margin-bottom: 5rem;
}

.login-form label {
    display: block;
    margin: 0.5rem 0rem 0.2rem;
}

.login-form input {
    margin-bottom: 1rem;
}

.login-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}
